/* normalising */
* {
    box-sizing: border-box;
    box-sizing: 0;
    margin: 0;
    padding: 0;
}


/* FONTS */
@font-face {
    font-family: 'Raleway-Regular', sans-serif;
    src: url('Raleway-Regular.woff2');
}

@font-face {
    font-family: 'Raleway-Thin', sans-serif;
    src: url('Raleway-Thin.woff2');
}

@font-face {
    font-family: 'Raleway-Medium', sans-serif;
    src: url('Raleway-Medium.woff2');
}

h1, h2, h3, h4, h5, li {
    font-family: 'Raleway-Regular', sans-serif;
}

h1 {
    color: #4A695E;
}

/* header */
header {
    margin: 3rem 0 0 3rem;
}

.searchIcon {
    float: right;
    margin-right: 7rem;
}

.adminIcon {
    float: right;
    margin-right: 5rem;
}

.userIcon {
    float: right;
    margin-right: 3rem;
}

main {
    margin: 3rem;
    display: flex;
}

.generalInfo {
    margin: auto;
}

.name, .title {
    color: #4A695E;
}

.moreInfo {
    margin: 3rem;
}

.moreInfo_about {
    font-size: 2.5rem;
    color: #4A695E;
}

.moreInfo_specialties, .moreInfo_issues {
    color: #4A695E;
}

.therapist-description a { 
    text-decoration: none;
}




footer {
    text-align: center;
    margin: 2rem 0;
}



